@font-face {
  font-family: 'Roboto-thin';
  font-style: normal;
  font-weight: 100;
  src: url(/design/jogunshop/MakeshopRenewal/font/notokr-thin.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-thin.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-thin.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto-light';
  font-style: normal;
  font-weight: 300;
  src: url(/design/jogunshop/MakeshopRenewal/font/Roboto-Light.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/Roboto-Light.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/Roboto-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/design/jogunshop/MakeshopRenewal/font/notokr-regular.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-regular.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-regular.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto-medium';
  font-style: normal;
  font-weight: 500;
  src: url(/design/jogunshop/MakeshopRenewal/font/Roboto-Medium.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/Roboto-Medium.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/Roboto-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Roboto-bold';
  font-style: normal;
  font-weight: 700;
  src: url(/design/jogunshop/MakeshopRenewal/font/Roboto-Bold.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/Roboto-Bold.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/Roboto-Bold.otf) format('opentype');
}


@font-face {
  font-family: 'Notokr-thin';
  font-style: normal;
  font-weight: 100;
  src: url(/design/jogunshop/MakeshopRenewal/font/notokr-thin.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-thin.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-thin.otf) format('opentype');
}

@font-face {
  font-family: 'Notokr-light';
  font-style: normal;
  font-weight: 300;
  src: url(/design/jogunshop/MakeshopRenewal/font/notokr-light.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-light.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-light.otf) format('opentype');
}

@font-face {
  font-family: 'Notokr';
  font-style: normal;
  font-weight: 400;
  src: url(/design/jogunshop/MakeshopRenewal/font/notokr-regular.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-regular.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-regular.otf) format('opentype');
}

@font-face {
  font-family: 'Notokr-medium';
  font-style: normal;
  font-weight: 500;
  src: url(/design/jogunshop/MakeshopRenewal/font/notokr-medium.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-medium.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-medium.otf) format('opentype');
}

@font-face {
  font-family: 'Notokr-bold';
  font-style: normal;
  font-weight: 700;
  src: url(/design/jogunshop/MakeshopRenewal/font/notokr-bold.woff2) format('woff2'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-bold.woff) format('woff'),  url(/design/jogunshop/MakeshopRenewal/font/notokr-boldotf) format('opentype');
}
